[Unit]
Description=GhostStack Privacy Orchestration
Documentation=https://ghoststack.dev
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart={{BINARY}} start --config /etc/ghoststack/config.yaml
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5
LimitNOFILE=65536
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_RAW CAP_SYS_ADMIN CAP_SYS_PTRACE
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_RAW CAP_SYS_ADMIN CAP_SYS_PTRACE
DeviceAllow=/dev/net/tun rw
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
ReadWritePaths=/var/lib/ghoststack /etc/ghoststack
PrivateTmp=yes
MemoryDenyWriteExecute=yes
RestrictRealtime=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_NETLINK AF_UNIX
SystemCallArchitectures=native
IPAddressDeny=none

[Install]
WantedBy=multi-user.target
